

.About_component{
    color:white;
    justify-items: center;
    position: relative;
    top: 80rem;
    padding: 5rem;
    height: 100%;
    z-index: -1;
    padding-top: 11rem;
    
        h1{
        justify-content: center;
        display: flex;
        letter-spacing: 1rem;
        }

    .About_component_texto{
    display: flex;
    flex-direction: column;
        
        h2{
        display: flex;
        justify-content: flex-end;
        }

        span{
        display: flex;
        justify-content: flex-end;
        }
    }
}