

.About_component{

    display: flex;
    flex-direction: column;
    color:white;
    justify-items: center;
    position: relative;
    top: 30rem;

        h1{
        justify-content: center;
        display: flex;
        }
}