
.contact_me{
    padding-bottom: 25rem;

.Contact_me_component{
    position: relative;
    top:250rem;
    color: white;
    display: flex;
    justify-content: center;
    z-index: -1;
    padding: 5rem 0;
    padding-top: 11rem;


    h1{
        letter-spacing: 1rem;
    }

}
.Contact_me_component_seccion{
    display: flex;
    position: relative;
    top:100rem;
    padding: 0 15rem;
    gap: 5rem;

    &_texto{
        color: white;
        position: relative;
        top: 150rem;
        flex: 1;
        

        h2{
            font-size: 2.8rem;
        }

        p{
            line-height: 2.5rem;
            font-size: 2rem;
            margin-top: 4rem;
            margin-bottom: 10rem;
            text-align: justify;
        }
    }

    &_formulario{   
        color:white;
        position: relative;
        top: 150rem;
        padding: 0 4rem;
        flex: 1;

        h2{
            font-size: 2.8rem;
        }

        form{
            display: flex;
            flex-direction: column;
            padding-top: 3rem;
            gap: 1rem;
            font-size: 2rem;

            input{
                border-radius: 1rem;
                height: 3rem;

            }

            .enviar{
                    width: 20rem;
                }
        }
    }
    
}
}




.Portada_icons_footer{
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 250rem;
    background: #1f4d85;

    &_linkedin{
        position: relative; 
        display: block;
        width: 2rem;
        height: 2rem;
        text-align: center;
        background: transparent;
        color: transparent;
        transition: .5s;
        
        

            img{
        
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            width: 2rem;
            height: 2rem;
            }
        
    }

        &_linkedin::before {
        
        transition: .5s;
        transform: scale(.9);
        z-index: -1;
        }

        &_linkedin:hover::before {
        transform: scale(1.1);
        box-shadow: 0 0 25px white;
        }

        &_linkedin:hover {
        color: white;
        box-shadow: 0 0 30px white;
        text-shadow: 0 0 30px white;
        }

    &_github{
        position: relative; 
        display: block;
        width: 2.8rem;
        height: 2.8rem;
        text-align: center;
        background: transparent;
        border-radius: 50%;
        color: transparent;
        transition: .5s;
        
            img{
            position: relative;
            top: -1.7px;
            left: -1.6px;
            width: 100%;
            height: 100%;
            width: 3rem;
            height: 3rem;
            }
    }

        &_github::before {
        
        transition: .5s;
        transform: scale(.9);
        z-index: -1;
        }

        &_github:hover::before {
        transform: scale(1.1);
        box-shadow: 0 0 25px white;
        }

        &_github:hover {
        color: white;
        box-shadow: 0 0 30px white;
        text-shadow: 0 0 30px white;
        }

    &_correo{
        position: relative; 
        display: block;
        width: 2.6rem;
        height: 2.1rem;
        text-align: center;
        background: transparent;
        border-radius: 10%;
        color: transparent;
        transition: .5s;
        img{
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            width: 2.6rem;
    height: 2.1rem;
        }
    }

    &_correo::before {
        
        transition: .5s;
        transform: scale(.9);
        z-index: -1;
        }

        &_correo:hover::before {
        transform: scale(1.1);
        box-shadow: 0 0 25px white;
        }

        &_correo:hover {
        color: white;
        box-shadow: 0 0 30px white;
        text-shadow: 0 0 30px white;
        }

        &_correo:active {
            transform: scale(0.98);
            /* Scaling button to 0.98 to its original size */
            box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
            /* Lowering the shadow */
        }

}
