
.Contact_me_component{
    position: relative;
    top:250rem;
    color: whitesmoke;
    display: flex;
    justify-content: center;
    z-index: -1;
    padding: 5rem 0;
    padding-top: 11rem;

    h1{
        letter-spacing: 1rem;
    }
    
}
