
.Proyects_component{

    position: relative;
    top: 85rem;
    display: flex;
    justify-content: center;
    color: whitesmoke;
    z-index: -1;
    padding: 5rem 0;

    H1{
        letter-spacing: 1rem;
    }
    





}
