@import url('https://fonts.cdnfonts.com/css/audrey');
@import url('https://fonts.cdnfonts.com/css/tangerine');
@import url('https://fonts.cdnfonts.com/css/italianno');

.Portada {
    position: relative;
    top:35rem;
    z-index: -1;


.Portada_saludo{
    display: flex;
    justify-content: center;
    height: 20rem;
    

    h1{
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
        .saludo{
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 1.5rem;
        padding: 3rem;
        
        }
        
        .nombre{
        font-size: 7rem;
        font-family: "italianno";
        font-weight: 500;
        }
    
    
    }
    
}

.Portada_icons{
    display: flex;
    gap: 1rem;
    justify-content: center;
    

    &_linkedin{
        position: relative; 
        display: block;
        width: 3rem;
        height: 3rem;
        text-align: center;
        line-height: 63px;
        background: transparent;
        border-radius: 10%;
        font-size: 30px;
        color: transparent;
        transition: .5s;
        
        

            img{
        
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            width: 2rem;
            height: 2rem;
            }
        
    }

        &_linkedin::before {
        
        transition: .5s;
        transform: scale(.9);
        z-index: -1;
        }

        &_linkedin:hover::before {
        transform: scale(1.1);
        box-shadow: 0 0 25px white;
        }

        &_linkedin:hover {
        color: white;
        box-shadow: 0 0 30px white;
        text-shadow: 0 0 30px white;
        }

    &_github{
        position: relative; 
        display: block;
        width: 3rem;
        height: 3rem;
        text-align: center;
        line-height: 63px;
        background: transparent;
        border-radius: 10%;
        font-size: 30px;
        color: transparent;
        transition: .5s;
        
            img{
            
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            width: 3rem;
            height: 3rem;
            }
    }

        &_github::before {
        
        transition: .5s;
        transform: scale(.9);
        z-index: -1;
        }

        &_github:hover::before {
        transform: scale(1.1);
        box-shadow: 0 0 25px white;
        }

        &_github:hover {
        color: white;
        box-shadow: 0 0 30px white;
        text-shadow: 0 0 30px white;
        }

    &_correo{
        position: relative; 
        display: block;
        width: 3rem;
        height: 3rem;
        text-align: center;
        line-height: 63px;
        background: transparent;
        border-radius: 10%;
        font-size: 30px;
        color: transparent;
        transition: .5s;
        img{
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            width: 3rem;
            height: 3rem;
        }
    }

    &_correo::before {
        
        transition: .5s;
        transform: scale(.9);
        z-index: -1;
        }

        &_correo:hover::before {
        transform: scale(1.1);
        box-shadow: 0 0 25px white;
        }

        &_correo:hover {
        color: white;
        box-shadow: 0 0 30px white;
        text-shadow: 0 0 30px white;
        }

}
}
.Portada_deslizar{
    display: flex;
    justify-content: center;
    position: relative;
    top: 50rem;
    img{
        filter: invert(1);
        width: 2rem;
        cursor: pointer;
    }
}